*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    background-color: rgb(44, 64, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-utilities{
    display: flex;
    height: 50%;
    width: 90%;
    justify-content:space-between;
}

.navbar-container{
 width: 100%;
 height: 100%;
 
}

.nav-link{
    display: inline-flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 4px;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;

}

.nav-login{
    display: flex;
        align-items: center;
    justify-content: flex-end;
    padding: 6px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

/* intro section  */

.first-container{
    background-image: url(/img/jumbo.png) ;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
}

.first-box{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.initial-title{
    padding: 20px 0 0 0;
    font-size: 60px;
    color: whitesmoke;
}

.initial-introduction{
    padding: 20px 60px 20px 60px;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

.button-container{
    display: flex;
    margin: 6px 0 60px 0;
}

.divider{
    display: inline-block;
    margin: 0 6px 0 6px;
}

.mac-download{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
}

.browser-opening{
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    padding: 12px;
    border-radius: 20px;
}
    
/* intro section end*/

.box1{

    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding:30px;

}
.box2{

    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;

}

.box2 p{
  margin: 0;
}

.box3{

    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding:30px;

}
.box4{


        background-image: linear-gradient(rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0.623)), url(/img/wave.svg);

    background-position: flex-start;
    background-size: 280%;

}

.end-section{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}


.end-section h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.end-section p{
    width: 700px;
    text-align: center;
}
.end-section a{

    margin-bottom: 120px;
}
.end-section img{

    margin-bottom: 120px;
}

.element-b h2{
  font-size: px;
  margin-bottom: 20px;
}

.element-b > p{
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-color{
    background-image: linear-gradient(rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0.623)), url(/img/wave.svg);
    padding: 80px;
    background-position: flex-start;
    background-size: 280%;
    

  
}

.element-a h2{
  font-size: 30px;
}

.star{
    display: flex;
    background-image: url(/img/stars.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 650px;
   height: 100px;
   align-items: center;
   justify-content: center;
   
}

.star > h2{
    position: relative;
    font-size: 36px;
}


.element-a > p{
    font-size: 16px;
    margin: 20px;

}

.footer-section{
   height: 600px;
   background-color: rgb(30, 30, 34);
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-container{
    width: 100%;
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-container h2{
    color: blue;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}
.footer-container img{
    width: 40px;
    margin-right: 30px;
    
}

.footer-container p{
    color: whitesmoke;
}

.social-link{
    display: flex;
    flex-wrap: wrap;
    width: 200px;

}

.lenguage{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.lenguage p{

    font-size: 20px;
}
.lenguage p:after{
    content: "▼";
    font-size: 16px;
    margin-left: 6px;
}

.social-icon{
    display: inline-flex;
    margin: 30px;

}

.social-icon svg{
    color: whitesmoke;
    z-index: 1;
    width: 40px;
    padding: 4px;
}

li{
    list-style: none;
    padding: 6px;
}


.li-head p{
    font-size: 20px;
    color: blue;
}

.end-line{
    width: 100%;
    display: inline-flex;

}


.footer-logo{
    width: 50%;
    justify-self: flex-start;


}
.footer-register{
    width: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}